// Set your brand colors
// $blue: #007acc;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Lato", sans-serif',
  // $primary: $blue
);

@use "bulma/sass/utilities/mixins";

.navbar-wrapper {
  box-shadow: 0 0 1px 0 #b5b5b5;
  @include mixins.desktop {
    box-shadow: 0 0 6px 0 #b5b5b5;
  }
}

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
