---
import MainHead from '../components/MainHead.astro';
import Tour from '../components/Tour.astro';
import Counter from '../components/Counter.tsx'

let title = 'My Astro Site';
---
<html lang="en">
<head>
    <MainHead title={title} description="Jeanine White: Developer, Speaker, and Writer..." />
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
            </div>
        </header>

        <Tour />

      <Counter client:visible>
        <h1>Hello, Preact!</h1>
      </Counter>
    </main>
</body>
</html>
