---
import PageLayout from '../layouts/PageLayout.astro';
import Tour from '../components/Tour.astro';
import Counter from '../components/Counter/Counter.tsx'
---
<PageLayout title="Home">
    <Tour />

    <Counter client:visible>
        <h1>Hello, Preact!</h1>
    </Counter>
</PageLayout>
