@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables.sass";

// Initial variables
$blue: #007acc;
$family-sans-serif: 'Lato', $family-sans-serif;

// Derived variables
$primary: $blue;
$link-hover: $primary;
$text-string: $black-ter;

$section-padding: $size-4;

$navbar-item-color: $black-bis;
$navbar-item-hover-color: $black-bis;

$footer-background-color: $white;
$footer-padding: $size-3 $size-4 $size-3;

$fullhd-enabled: false;

@import "~bulma/bulma.sass";

body {
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.navbar-wrapper {
  box-shadow: 0 0 ($size-7 / 2) 0 $grey-light;

  .navbar-start {
    .navbar-item {
      padding-left: 0;
      letter-spacing: 0.01rem;
    }
  }

  a.navbar-item {
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.1rem;
  }
}

.image.is-rounded {
  img {
    border-radius: $radius-rounded;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}
