@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables.sass";
//@import "~bulma/sass/utilities/derived-variables.sass";

// Initial variables
$blue: #007acc;
$family-sans-serif: 'Lato', $family-sans-serif;
$size-3: 2.25rem;

// Derived variables
$primary: $grey-darker;

$footer-background-color: $white;
$footer-padding: 2rem 1.5rem 2rem;

@import "~bulma/bulma.sass";

body {
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  &:hover {
    text-decoration: underline;
  }
}
