---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header/Header.tsx';
const {title, description} = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} isArticle=false />
  </head>
  <body>
    <Header url={Astro.request.canonicalURL} />
    <main>
      <slot />
    </main>
  </body>
</html>
