---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header/Header.tsx';
const {title, description} = Astro.props;
---
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Header />
    <main>
      <!-- slot: your page content will be injected here. -->
      <slot />
    </main>
  </body>
</html>
